@page "/about"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using System.Text
@using Microsoft.Extensions.Caching.Memory
@inject IStringLocalizer<About> loc
@inject IStringLocalizer<SharedResource> shLoc
@inject IHttpClientFactory httpClient
@inject IMemoryCache _cache

<MKPageTitle Title=@shLoc["AboutNamePage"] />

<div class="content">
    <div class="row">
        <fieldset>
            <legend>@shLoc["HistoryLegend"]</legend>
            <div class="row">
                @* <=576 sm:>=576 md:>=768 lg:>=992 xl:>=1200 xxl>=1400 *@
                @* col-3 *@
                <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
                    <img src="images/padrehermano.png" />
                </div>
                <div class="col">
                    <p>@loc["ProjectDescription1"]</p>
                    <p>@loc["ProjectDescription2"]</p>
                    <p>
                        <span class="text-nombre1">Microbyt</span><span class="text-nombre2">Konami</span> viene de dos palabras:
                        <ul>
                            <li><span class="text-nombre11">Microbyt</span> : @loc["MicrobytDescription"]</li>

                            <li><span class="text-nombre21">Konami</span>: @loc["KonamiDescription"]</li>
                        </ul>
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#releaseNotes" type="button" role="tab" aria-controls="releaseNotes" aria-selected="true">@loc["ReleaseNotesLegend"]</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#thirdPartyLicenses" type="button" role="tab" aria-controls="thirdPartyLicenses" aria-selected="false">@loc["ThirdPartyLicensesLegend"]</button>
            </li>
            <li class="nav-item dropdown" role="presentation">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@shLoc["ChristmasCardNamePage"]</a>
                <ul class="dropdown-menu">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#releaseNotesNavidad2023" type="button" role="tab" aria-controls="releaseNotesNavidad2023" aria-selected="true">@loc["ReleaseNotesLegend"]</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#thirdPartyLicensesNavidad2023" type="button" role="tab" aria-controls="thirdPartyLicensesNavidad2023" aria-selected="false">@loc["ThirdPartyLicensesLegend"]</button>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="releaseNotes" role="tabpanel" aria-labelledby="releaseNotes-tab">@((MarkupString)(releaseNotes ?? "Loading ..."))</div>
            <div class="tab-pane fade" id="thirdPartyLicenses" role="tabpanel" aria-labelledby="thirdPartyLicenses-tab">@((MarkupString)(thirdPartyLicenses ?? "Loading ..."))</div>
            <div class="tab-pane fade show active" id="releaseNotesNavidad2023" role="tabpanel" aria-labelledby="releaseNotesNavidad2023-tab">@((MarkupString)(releaseNotesNavidad2023 ?? "Loading ..."))</div>
            <div class="tab-pane fade" id="thirdPartyLicensesNavidad2023" role="tabpanel" aria-labelledby="thirdPartyLicensesNavidad2023-tab">@((MarkupString)(thirdPartyLicensesNavidad2023 ?? "Loading ..."))</div>
        </div>
    </div>
</div>

@code
{
    string? releaseNotes, thirdPartyLicenses;
    string? releaseNotesNavidad2023, thirdPartyLicensesNavidad2023;

    protected async override Task OnInitializedAsync()
    {
        var http = httpClient.CreateClient("github");
        var httpNavidad2023 = httpClient.CreateClient("github Navidad2023");

        await Task.WhenAny(LoadReleaseNotes(), LoadThirdPartyLicenses(), LoadReleaseNotesNavidad2023(), LoadThirdPartyLicensesNavidad2023());

        async Task LoadReleaseNotes() => releaseNotes = await _cache.GetOrCreateAsync("releaseNotes", cache => http!.GetMarkdownFromGitHubRawAsync("Release notes.md"));
        async Task LoadThirdPartyLicenses() => thirdPartyLicenses = await _cache.GetOrCreateAsync("thirdPartyLicenses", cache => http!.GetMarkdownFromGitHubRawAsync("Third party licenses.md"));
        async Task LoadReleaseNotesNavidad2023() => releaseNotesNavidad2023 = await _cache.GetOrCreateAsync("releaseNotesNavidad2023", cache => httpNavidad2023!.GetMarkdownFromGitHubRawUtf8Async("Release notes.md"));
        async Task LoadThirdPartyLicensesNavidad2023() => thirdPartyLicensesNavidad2023 = await _cache.GetOrCreateAsync("thirdPartyLicensesNavidad2023", cache => httpNavidad2023!.GetMarkdownFromGitHubRawAsync("Third party licenses.md"));
    }
}
